asgiref==3.8.1
click==8.1.8
colorama==0.4.6
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
drf-yasg==1.21.9
gunicorn==23.0.0
inflection==0.5.1
Jinja2==3.1.6
joblib==1.4.2
MarkupSafe==3.0.2
nltk==3.9.1
numpy==2.2.3
packaging==24.2
pandas==2.2.3
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
regex==2024.11.6
scikit-learn==1.6.1
scipy==1.15.2
six==1.17.0
sqlparse==0.5.3
swagger-ui-py==23.9.23
termcolor==2.5.0
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.1
uritemplate==4.1.1
xgboost==3.0.0
